$theme-font:  'Lora', serif;
$content-font:  'Lora', serif;
$index-date-font: 'Monaco,courier new,monospace';

$background-color: #222831;
$secondary-color: #363A40;
$accent-color: #f2a365;
$highlight-accent-color: #f2a365;
$text-color: #d3d4d4;

$content-font-size: 16px;

/*
Root element styling
*/
html {
    background-color: $background-color;
    font-family: $theme-font;
}

img {
    max-width: 75%; // limit width from parent block 
    padding-right: 10px;
}

blockquote {
    // credit: https://css-tricks.com/snippets/css/simple-and-nice-blockquote-styling/
    background: $secondary-color;
    border-left: 4px solid #ccc;
    margin: 1.5em 10px;
    padding: 0.5em 10px;
}

hr {
    height: 1px;
    border: none;
    color: $accent-color;
    background-color: $secondary-color;
    width:60%;
    text-align:left;
    margin: 10px;
}

/* chroma highlighting custom styles */
pre {
    font-size: 12px;
}

/*
Custom classes
*/

#content, #header, #footer {
    margin: 0 auto; 
    width: 50%;
    color: $text-color;
}

@media only screen and (max-width: 600px) {
  #content, #header, #footer {
      width: 90%;
  }

}

#content {
    a {
        color: inherit;
        text-decoration-color: $accent-color;
    }

    a:hover {
        color: $highlight-accent-color;
    }
}

.index-post-listing {
    font-weight: lighter;
}

.index-post-date {
    padding-right: 0.5ch;
    font-family: $index-date-font;
}


#header {
    a {
        text-decoration: inherit;
        color: inherit;
    }

    a:hover {
        color: $highlight-accent-color;
    }
    
    padding: 5px;
    padding-bottom: 10px;
}

.separator-accent {
    color: $accent-color;
    padding-left: 0.4ch;
    padding-right: 0.4ch;
}


/*
Post-specific styles
*/ 
#post {
    max-width: 40em;
}

.post-header {
    font-family: $theme-font;
}

.post-content {
    font-family: $content-font;
    font-size: $content-font-size;
    line-height: 1.7;
}

.post-date {
    font-weight: lighter;
}

#related-posts {
    padding-bottom: 10px;
}


/*
About-me specific styles
*/
#about-content {
    font-size: 16px;
}

#about-cover-image {
    width: 50%;
    float: left;
}

/*
Footer specific styles
*/
#footer {
    text-decoration: underline $accent-color;
}

/*
Project styles
*/
.project-item {
    padding-bottom: 15px;
    overflow-x: auto;
    max-width: 45em;

    h2 {
        color: $accent-color;
    }

    p {
        font-size: 14px;
    }
    
    span {
        font-size: 18px;
    }

    img {
        width: 100px;
        float: left;
    }
}
