{{ define "main" }}
    <div id="post">
        <div class="post-header">
            <h2 class="post-date">{{ .Date.Format "Mon, Jan 2, 2006" }}</h2>
            <h1>{{ .Title }}</h1>
        </div>
        <div class="post-content">
            {{ .Content }}
        </div>
    </div>
    <hr/>
    <div id="related-posts">
        <h1> Recent posts </h1>
        {{ range ( where site.RegularPages "Section" "post" | first 3 ) }}
        <li><a href="{{ .Permalink }}">{{ .Title }}</a></li>
        {{ end }}
    </div>
{{ end }}
