<h3 id="header">
    <!-- Link to homepage !--> 
    <span class="separator-accent">[</span>
        <a href="{{ .Site.BaseURL }}"> 🏠 </a>
    <span class="separator-accent">]</span>

    <!-- Link to about page !-->
    <span class="separator-accent">[</span>
        <a href="/about"> about me </a>
        <span class="separator-accent">/</span>
        <a href="/project"> projects </a>
        <span class="separator-accent">/</span>
        <a href="{{ .Site.Params.Resume }}" target="_blank"> resume </a>
    <span class="separator-accent">]</span>

    <!-- Link to social accounts !-->
    <span class="separator-accent">[</span>
    {{ if .Site.Params.Twitter }}
    <a href="{{ .Site.Params.Twitter }}" target="_blank"> twitter </a>
        <span class="separator-accent">/</span>
    {{ end }}
    {{ if .Site.Params.Github }}
    <a href="{{ .Site.Params.Github }}" target="_blank"> github </a>
        <span class="separator-accent">/</span>
    {{ end }}
    {{ if .Site.Params.Keybase }}
    <a href="{{ .Site.Params.Keybase }}" target="_blank"> keybase </a>
        <span class="separator-accent">/</span>
    {{ end }}
    {{ if .Site.Params.Linkedin }}
        <a href="{{ .Site.Params.Linkedin }}" target="_blank"> linkedin </a>
    {{ end }}
    <span class="separator-accent">]</span>
</h3>