<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-122713044-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'UA-122713044-1');
    </script>
    <title> {{ .Title }} </title>
    <!-- Compile SCSS and include !-->
    {{ $sass := resources.Get "sass/main.scss" }}
    {{ $style := $sass | resources.ToCSS | minify }}
    <link rel="stylesheet" href="{{ $style.Permalink }}" integrity="{{ $style.Data.Integrity }}" media="screen">

    <!-- Google Fonts, syntax highlighting, favicon !-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Lora|Merriweather&display=swap" rel="stylesheet">
    <link href="/css/syntax.css" rel="stylesheet">
    <link rel="shortcut icon" href="/images/favicon/favicon.ico" sizes="32x32">
</head>
